.map-container {
  width: 50%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-left: 40px;
  margin-top: 50px;
  float: left;
}

.places-container {
  position: absolute;
  top: 30%;
  left: 60%;
  transform: translateY(-50%);
}

.map-todo-container {
  display: flex;
  justify-content: space-between;
}

.map-todo-container > * {
  flex: 1;
  margin: 0 1rem;
}