
img {
  max-width: 50%;
  transform: scale(0.8);
}
.LoginCheck__btn {
  padding: 10px;
  font-size: 18px;
  margin-top: 10px;
  border: none;
  color: white;
  background-color: black;
}
.dashboard div {
  margin-top: 7px;
}
.HomeCheck {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 30px;
  top: 0;
}

.content-sections {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}


.toptips {
  flex: 1;
  margin: 0 10px;
}
.Dash-content{
flex: 1;
margin: 0 10px;
}

.sliderPics_container{
height:200px;
width:200px;

}