
img {
  max-width: 50%;
  transform: scale(0.8);
}
.LoginCheck__btn {
  padding: 10px;
  font-size: 18px;
  margin-top: 10px;
  border: none;
  color: white;
  background-color: black;
}
.dashboard div {
  margin-top: 7px;
}
.HomeContent__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 30px;
  top: 0;
}
.FooterDash__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 30px;
  bottom: 0;
}
.sliderPics_container{
overFit: cover;
height : 50 px;
width : 50 px;
padding: 30px;

}

